<div class="col-md-3 col-lg-2 p-0">
    <div class="accordion" id="sidebarMenu">
        {{#each menuTree}}
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading-{{id}}">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse-{{id}}">{{name}}</button>
            </h2>
            <div class="accordion-collapse collapse" id="collapse-{{id}}">
                <div class="accordion-body">
                    <ul class="list-group">
                        {{#each children}}
                        <li class="list-group-item">
                            <a href="{{url}}">{{name}}</a>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>